<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Techknowlejaysus</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="author" content="JB">
  <meta name="description" content="Site where lab equipment can be listed.">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

</head>

<body>
  <header>
    <h1>Techknowlejaysus</h1>
  </header>
  {% block sidebar %}
    <div id="sidebar">
      <ul>
        <li><a href="{% url 'index' %}">Equipment</a></li>
        <li><a href="{% url 'ads' %}">Advertisements</a></li><br>
        {% if user.is_authenticated %}
          <li>User: {{ user.get_username }}</li>
          <li><a href="{% url 'my-devices' %}">My Devices</a></li>
          <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign up</a></li>
        {% endif %}
        <li><a href="{% url 'contact' %}">Contact us</a></li>
      </ul>
    </div>
  {% endblock %}
  {% block content %}{% endblock %}
</body>
</html>